<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image" style="width:100%">
                <img th:src="@{/view/img/user2-160x160.jpg}" alt="user">
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Thanh điều hướng</li>

            <li class="">
                <a th:href="@{/admin/transaction}">
                    <i class="fa fa-money"></i> <span>Đơn hàng</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/admin/category}">
                    <i class="fa fa-files-o"></i>
                    <span>Danh mục</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/product}">
                    <i class="fa fa-th"></i> <span>Sản phẩm</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/admin/qtv}">
                    <i class="fa fa-user"></i>
                    <span>Quản trị viên</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/admin/user}">
                    <i class="fa fa-user"></i>
                    <span>Người dùng</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/rating}">
                    <i class="fa fa-star"></i> <span>Phản hồi</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>