<div th:include="/fragments/admin/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/admin/header :: header"></div>
    <div th:replace="/fragments/admin/sidebar :: aside"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Quản trị viên
                <small><a th:href="@{'/admin/qtv/create'}" class="btn btn-primary">Thêm mới</a></small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{'/admin/qtv'}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                <li class="active"> Quản trị viên</li>
            </ol>
            <!-- <div th:if="${message}" class="alert alert-success text-center mt-3">[[${message}]]</div> -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Tên</td>
                        <td>Email</td>
                        <td>Hành động</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${qtvs.isEmpty()}">
                        <th colspan="6">[[#{no_result_found}]]</th>
                    </tr>
                    <tr th:each="qtv : ${qtvs}">
                        <td>[[${((currentPage - 1) * 10) + qtvStat.index + 1}]]</td>
                        <td>[[${qtv.name}]]</td>
                        <td>[[${qtv.email}]]</td>
                        <td>
                            <a th:href="@{'/admin/qtv/edit/' + ${qtv.id}}" class="btn btn-secondary"><i
                                    class="fa fa-edit"></i> [[#{edit}]]</a>
                            <a th:href="@{'/admin/qtv/delete/' + ${qtv.id}}" class="btn btn-secondary" th:if="${@commonConfigurations.getCurrentAdmin.getId() != qtv.id}"><i
                                    class="fa fa-trash text-danger"></i> [[#{delete}]]</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="box-footer" th:include="/fragments/user/pagination">
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
<div th:include="/fragments/admin/footer"></div>
