<div th:include="/fragments/admin/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/admin/header :: header"></div>
    <div th:replace="/fragments/admin/sidebar :: aside"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Sửa thông tin danh mục sản phẩm
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{'/admin'}"> Trang chủ</a></li> >
                <li><a th:href="@{'/admin/category'}">Danh mục</a></li>
                >
                <li><a href="#">Sửa</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <form th:action="@{/admin/category/update/{id}(id=${id})}" method="POST" role="form" class="col-md-8"  th:object="${categoryDto}">
                <div th:class="${#fields.hasErrors('c_name')} ? 'has-error form-group' : 'form-group'">
                    <label for="exampleInputEmail1">Danh mục</label>
                    <input type="text" class="form-control"  id="exampleInputEmail1" th:field="*{c_name}"
                           aria-describedby="emailHelp">
                    <p th:if="${#fields.hasErrors('c_name')}" class="text-danger" th:errors="*{c_name}"></p>
                </div>
                <div th:class="${#fields.hasErrors('c_cate')} ? 'has-error form-group' : 'form-group'">

                    <label for="exampleInputPassword1">Thể loại</label>
                    <select class="form-control" id="exampleInputPassword1" th:field="*{c_cate}">
                        <option value="">--Chọn thể loại sản phẩm--</option>
                        <option value="watch">Áo bóng đá</option>
                        <option value="glass">Giày bóng đá</option>
                        <option value="accessories">Phụ kiện bóng đá</option>

                    </select>
                    <p th:if="${#fields.hasErrors('c_cate')}" class="text-danger" th:errors="*{c_cate}"></p>
                </div>
                <a th:href="@{'/admin/category'}" class="btn btn-danger"><i class="fa fa-undo"></i> Quay lại</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Cập nhật</button>
            </form>

        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
<div th:include="/fragments/admin/footer"></div>
